.service-card {
  background-color: #2B2B2B;
  border-radius: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.462);

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(255, 215, 0, 0.3);
  }
}
.service-img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 0.75rem;
}
.service-icon {
  font-size: 48px;
  color: #FFD700;
  line-height: 1;
  display: inline-block;
}
mat-card-header {
  min-height: 100px; /* ajusta el valor según tus necesidades */
  display: flex;
  justify-content: center;
}