.dialog-container {
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dialog-header {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  z-index: 10;
}

.dialog-content {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  overflow: hidden;
}

/* Imagen y video ajustados */
.media-element {
  max-width: 100vw;
  max-height: 100vh;
  object-fit: contain;
  border-radius: 0;
}

/* Asegura que el video no se escale mal */
video.media-element {
  width: auto;
  height: auto;
}
body {
  overflow: hidden !important;
}