.carousel-item {
  height: 100vh;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
/* Estilo para indicadores personalizados */
.carousel-indicators [data-bs-target] {
  background-color: #999999;           /* Gris medio para los inactivos */
  width: 14px;
  height: 14px;
  border-radius: 50%;
  opacity: 0.6;
  margin: 0 6px; 
  transition: all 0.3s ease;
}

.carousel-indicators .active {
  background-color: #FFD700;           /* Amarillo dorado para el activo */
  opacity: 1;
  transform: scale(1.2); 
}
