.carousel-item {
  height: 100vh;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
/* Estilo para indicadores personalizados */
.carousel-indicators [data-bs-target] {
  background-color: #da8e3c;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 0.7;
  transition: all 0.3s;
}

.carousel-indicators .active {
  opacity: 1;
}

/* Opcional: aumentar contraste del texto */
.carousel-item h1,
.carousel-item p {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
} 