/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* Fondo del modal (backdrop) */
.custom-backdrop {
  background-color: rgba(0, 0, 0, 0.8) !important;
  z-index: 2000 !important;
}

.fullscreen-dialog {
  width: 100vw !important;
  height: 100vh !important;
  max-width: 100vw !important;
  max-height: 100vh !important;
  margin: 0 !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  z-index: 2001 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden !important;
}